# Directories
/node_modules/
/data/

# Specific Files
pakage-lock.json
config.js


# Commands
commands/Music/pause.js
commands/Music/play.js
commands/Music/queue.js
commands/Music/resume.js
commands/Music/search.js
commands/Music/skip.js
commands/Music/stop.js
commands/Music/volume.js
commands/Music/spotify.js
commands/Fun/csgo.js
commands/Fun/respect.js
commands/Moderation/hackban.js
commands/Moderation/search.js
commands/Moderation/inf\.js
