# Directories
/node_modules/
/data/
/Experimental/

# Specific Files
pakage-lock.json
config.js

# Classes
base/Music.js


# Commands
commands/Music/queue.js
commands/Music/skip.js
commands/Music/spotify.js
commands/Fun/csgo.js
commands/Fun/respect.js
commands/Moderation/hackban.js
commands/Moderation/inf.js
commands/Moderation/checkban.js
