<%- include('blocks/header', {bot, user, path}) %>
  <div class="jumbotron">
    <div>
      <h1><center><%= bot.user.username %> Status</center></h1>
      <h4><center>The bot should be functioning at 100%. Any issues with the bot can be reported at https://discord.gg/qtpgmFe.</center></h4>
      <p><center><a class="btn btn-primary" href="https://discord.gg/qtpgmFe" role="button">Support Server</a></center></p>
    </div>
  </div>
<% include ./blocks/footer %>